<div class="home_1">
  <h1 class="home_2">Download GTU Exam Papers</h1>
  <h2 class="text_highlight font_20px text_center">* Latest Summer 2024 GTU Papers Now Available to Download! *</h2>
  <div class="home_3">
    Download any CE or CS previous year question paper easily. You can directly
    search for any subject via Subject Name/Subject Code, or you can download
    papers by Semester.
  </div>
  <div class="home_4" ng-click="setScreen('searchsubject');">
    Search Subject
  </div>
  <div class="home_5">
    <div class="home_6" onclick="toggleAccor()">
      Semesterwise
      <svg
        width="20px"
        height="20px"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 512 512"
      >
        <path
          fill="black"
          d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"
        />
      </svg>
    </div>
    <div class="home_7">
      <h3
        ng-click="setScreen('semwise'); setSem(1)"
        title="Download Semester 3 Papers"
      >
        Semester 1 & 2
      </h3>
      <h3
        ng-click="setScreen('semwise'); setSem(3)"
        title="Download Semester 3 Papers"
      >
        Semester 3
      </h3>
      <h3
        ng-click="setScreen('semwise'); setSem(4)"
        title="Download Semester 4 Papers"
      >
        Semester 4
      </h3>
      <h3
        ng-click="setScreen('semwise'); setSem(5)"
        title="Download Semester 5 Papers"
      >
        Semester 5
      </h3>
      <h3
        ng-click="setScreen('semwise'); setSem(6)"
        title="Download Semester 6 Papers"
      >
        Semester 6
      </h3>
      <h3
        ng-click="setScreen('semwise'); setSem(7)"
        title="Download Semester 7 Papers"
      >
        Semester 7
      </h3>
    </div>
  </div>
  <div class="home_8">
    <p>
      Download official GTU Previous Year Exam Papers. Currently, only BE CS/CE
      papers are available; more papers will be available soon.
    </p>
    <p class="mar_b_0">
      Paper's downloaded from this site will same as paper's downloaded from
      official
      <a href="https://gtu.ac.in/Default.aspx" target="_blank">GTU Website</a>.
    </p>
    <p class="mar_0">
      Download papers from
      <a href="https://gtu.ac.in/Download1.aspx" target="_blank">GTU Website</a
      >.
    </p>
    <h2>How to download papers?</h2>
    <ul>
      <li>First, select SemesterWise or Search Subject.</li>
      <li>
        If you select Search Subject, you need to add the subject code or name
        in the input field.
      </li>
      <li>
        Then subjects will be displayed in both Semesterwise & Search Subject
        with paper links (for example: Winter - 2022).
      </li>
      <li>
        Now click on the link, and a new window will open with the paper PDF.
        You can view it or download it.
      </li>
    </ul>
  </div>
  <div class="home_9">
    <h2>Why should you prepare from previous year paper's for GTU exams ?</h2>
    <ul>
      <li>
        <strong>Familiarity:</strong> Previous year papers give you a sense of
        the exam pattern, types of questions, and marking scheme, which helps
        you feel more comfortable during the actual exam.
      </li>
      <li>
        <strong>Understanding:</strong> Going through old papers helps you
        understand the depth and breadth of the syllabus, allowing you to
        prioritize topics based on their frequency of appearance in exams.
      </li>
      <li>
        <strong>Practice:</strong> Solving previous year papers serves as
        excellent practice, helping you gauge your preparation level and
        identify areas where you need to improve.
      </li>
      <li>
        <strong>Time Management:</strong> By practicing with old papers, you can
        refine your time management skills, ensuring that you can complete the
        exam within the allocated time frame.
      </li>
      <li>
        <strong>Confidence Boost:</strong> Successfully solving previous year
        papers boosts your confidence and reduces exam anxiety, as you feel more
        prepared and familiar with what to expect.
      </li>
      <li>
        <strong>Strategic Preparation:</strong> Analyzing previous year papers
        can help you identify recurring themes or types of questions, allowing
        you to tailor your study approach accordingly.
      </li>
      <li>
        <strong>Identify Important Topics:</strong> Previous year papers often
        reveal which topics are frequently tested, enabling you to prioritize
        your revision efforts accordingly.
      </li>
      <li>
        <strong>Realistic Simulation:</strong> Working through old papers
        provides a realistic simulation of the actual exam environment, helping
        you adapt to the format and conditions of the test.
      </li>
    </ul>
  </div>
</div>
