<div class="semcss1">
    <div class="semcss6">Search Subject</div>
    <div class="home_3">Search any subject by Subject Name or Subject Code for CE or CS</div>
    <div class="semsearch"><input type="search" ng-model="searchSubject"
            placeholder="Enter Subject Code or Subject Name"></div>
    <div ng-style="{'border-bottom':($last? 'none' : '')}" class="semsrchcss1"  ng-repeat="subs in showData | filter : searchSubject">
        <div class="semsrchcss2">
            <p>{{$index + 1}}.</p>
            <p>Subject Code : {{subs.subCode}}</p>
        </div>
        <div class="semsrchcss4">
            <div class="semsrchcss3">
                <a class="text_highlight" href="https://gtu.ac.in/uploads/S2024/BE/{{subs.subCode}}.pdf" target="_blank">Summer - 2024</a>
            </div>
            <div class="semsrchcss3">
                <a href="https://gtu.ac.in/uploads/S2023/BE/{{subs.subCode}}.pdf" target="_blank">Summer - 2023</a>
                <a href="https://gtu.ac.in/uploads/W2023/BE/{{subs.subCode}}.pdf" target="_blank">Winter - 2023</a>
            </div>
            <div class="semsrchcss3">
                <a href="https://gtu.ac.in/uploads/W2022/BE/{{subs.subCode}}.pdf" target="_blank">Winter - 2022</a>
            </div>
        </div>
    </div>

</div>