@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Regular.ttf');
}

body {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-family: 'Poppins';
}

.mar_0 {
  margin: 0;
}
.mar_t_0 {
  margin-top: 0;
}
.mar_b_0 {
  margin-bottom: 0;
}

.bdr_btm_light{
  border-bottom: 1px solid #f1f1f1;
}

.text_highlight{
  color: #1b8700;
}

.font_20px{
  font-size: 20px;
}

.indexcss1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.navbar_1 {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 15px 15px -3px rgba(0, 0, 0, 0.1);
  padding: 0 25%;
  box-sizing: border-box;
}

.navbar_2 {
  width: 25%;
  color: rgb(216, 143, 7);
  font-size: 17px;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.navbar_2 img {
  width: 100%;
}

.navbar_3 {
  font-size: 13px;
  background-color: orange;
  padding: 4px 20px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.home_1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 25%;
  margin: 50px 0;
}

.home_2 {
  width: 100%;
  text-align: center;
  font-size: 50px;
}

.home_3 {
  width: 100%;
  margin: 20px 0;
  text-align: center;
  font-size: 15px;
  margin-bottom: 65px;
}

.home_4 {
  width: 60%;
  text-align: center;
  background-color: #dbdbdb;
  padding: 15px 0;
  font-weight: 500;
  border-radius: 10px;
  margin: 10px 0;
  cursor: pointer;
}

.home_5 {
  width: 60%;
  text-align: center;
  background-color: #dbdbdb;
  padding: 15px 0;
  font-weight: 500;
  border-radius: 10px;
  margin: 10px 0;
}

.home_6 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}

.home_7 {
  display: none;
  transition: 1s;
}

.home_7 h3 {
  margin: 15px 0;
  font-size: 15px;
  cursor: pointer;
  font-weight: 600;
  transition: 1s;
}

.home_8 {
  margin: 90px 0;
}

.home_8 p {
  text-align: center;
}

.home_8 h2 {
  margin-top: 25vh;
  margin-bottom: 40px;
}

.home_8 li {
  text-align: justify;
  margin: 20px 0;
}

.home_9 {
  margin-bottom: 90px;
}

.home_9 h2 {
  margin-bottom: 40px;
}

.home_9 li {
  text-align: justify;
  margin: 20px 0;
}

.footer_1 {
  height: 65px;
  width: 100%;
}

/* .footer_2 {
    width: 100%;
    display: flex;
    justify-content: right;
    padding-right: 40px;
    box-sizing: border-box;
}

.footer_2 a{
    background-color: orange;
    padding: 5px 15px;
    border-radius: 5px 5px 0 0;
    border: none;
    font-size: 15px;
    color: black;
} */

.footer_3 {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  box-shadow: 0px -15px 15px -3px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.semcss1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.semcss2 {
  border-radius: 11px;
  border: 1px solid lightgray;
  width: 50%;
  margin-bottom: 20px;
}

.semcss3 {
  width: 100%;
  height: 50px;
  background-color: #cfcfcf;
  border-radius: 10px 10px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.semcss4 {
  width: 100%;
  height: 50px;
  background-color: #efefef;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.semcss5 {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.semcss6 {
  width: 100%;
  text-align: center;
  font-size: 50px;
  margin: 50px 0 0 0;
}

.semcss7 {
  width: 50%;
  margin: 20px 0 50px 0;
  text-align: center;
}

.semsrchcss1 {
  width: 50%;
  display: flex;
  font-size: 13px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid gray;
}

.semsrchcss2 {
  display: flex;
  gap: 10px;
}

.semsrchcss3 {
  display: flex;
  gap: 10px;
}

.semsrchcss4 {
  display: flex;
  gap: 20px;
}

.semsearch {
  width: 50%;
  margin: 20px 0;
  margin-bottom: 50px;
}

.semsearch input {
  width: 100%;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
}

.loader_outter {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0);
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 80px;
  aspect-ratio: 1;
  border: 10px solid #0000;
  box-sizing: border-box;
  background: radial-gradient(farthest-side, #fff 98%, #0000) 0 0/20px 20px,
    radial-gradient(farthest-side, #fff 98%, #0000) 100% 0/20px 20px,
    radial-gradient(farthest-side, #fff 98%, #0000) 100% 100%/20px 20px,
    radial-gradient(farthest-side, #fff 98%, #0000) 0 100%/20px 20px,
    linear-gradient(#fff 0 0) 50%/40px 40px, #000;
  background-repeat: no-repeat;
  filter: blur(4px) contrast(10);
  animation: l12 0.8s infinite;
}
@keyframes l12 {
  100% {
    background-position: 100% 0, 100% 100%, 0 100%, 0 0, center;
  }
}

@media screen and (max-width: 600px) {
  .navbar_1 {
    padding: 0 20px;
    box-sizing: border-box;
  }

  .navbar_2 {
    width: 50%;
  }

  .home_1 {
    padding: 20px;
    margin: 10px 0;
  }
  .home_2 {
    margin-top: 50px;
    font-size: 30px;
  }

  .home_3 {
    text-align: center;
    margin-bottom: 49px;
  }
  .home_4 {
    width: 90%;
  }
  .home_5 {
    width: 90%;
  }
  .home_8 ul,
  .home_9 ul {
    padding-inline-start: 10px;
  }

  .home_8 p {
    text-align: justify;
    margin-bottom: 10px;
  }
  .semcss2 {
    width: 90%;
  }
  .semcss6 {
    font-size: 35px;
  }
  .semcss7 {
    width: 90%;
  }
  .semsrchcss1 {
    width: 90%;
    flex-direction: column;
    padding-bottom: 20px;
  }
  .semsrchcss2 {
    font-size: 16px;
  }
  .semsrchcss3 {
    display: flex;
    gap: 20px;
    background-color: #ededed;
    padding: 10px 30px;
    border-radius: 5px;
  }
  .semsrchcss3 a {
    color: black;
    font-size: 15px;
    text-decoration: none;
  }
  .semsrchcss4 {
    flex-direction: column;
  }
  .footer_3 {
    justify-content: center;
    flex-direction: column;
    box-sizing: content-box;
  }
  .footer_3 p {
    text-align: center;
    margin: 0;
  }

  .footer_3 .navbar_2{
    display: none;
  }
}
